body, button, input {
  font-family: 'Montserrat', sans-serif; }

ul {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  margin: 0; }

h1, h2, h3, h4, h5, h6, p, figure {
  font-weight: normal;
  margin: 0; }

button, input {
  outline: none;
  border: none;
  color: inherit; }

a {
  text-decoration: none;
  color: inherit; }

p, a, button, input {
  font-size: 1.125rem; }

@keyframes pullnav {
  0% {
    transform: translateY(-120vw); }
  100% {
    transform: translateY(0); } }

#bg-img {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("emp_form.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }

#navbar {
  background-color: rgba(20, 20, 20, 0.86);
  box-shadow: 3px 3px 10px grey;
  animation-name: pullnav;
  animation-fill-mode: both;
  animation-duration: 1.5s;
  transition: all .6s;
  animation-delay: -1s;
  height: 7vh; }

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 7vh; }
  #nav h1 {
    color: white;
    padding-left: 0.9375rem;
    font-size: 1.75rem;
    transition: all .5s;
    cursor: default; }
  #nav button {
    position: absolute;
    right: 0.9375rem;
    text-transform: uppercase;
    padding: 0.625rem 0;
    border-radius: 2000px;
    box-shadow: 2px 2px 3px #B9BBBB;
    transition: all .5s;
    font-size: 1.125rem; }
    #nav button#menu {
        right: 11rem;}
    #nav button:hover {
      transform: translateY(-4px);
      background-color: #A4A3A4; }
  #nav a {
    padding: 0.625rem 2.1875rem;
    cursor: default; }

@keyframes show-form {
  0% {
    transform: translateY(20vh); }
  100% {
    transform: translate(0); } }

@keyframes show-header {
  0% {
    transform: translateX(40vh); }
  100% {
    transform: translate(0); } }

#full-site {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93vh;
  width: 100%; }

#rem_id {
  border: 2px solid grey;
  padding: 2.1875rem;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px white; }

#main-form, #rem_id {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 17.5rem;
  animation-name: show-form;
  animation-fill-mode: both;
  animation-duration: .5s;
  transition: all .8s; }
  #main-form #heading-form, #rem_id #heading-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    margin: 1.25rem 0;
    font-size: 1.25rem;
    border-bottom: 1px solid white;
    padding: 0.625rem 1.875rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px 20px 0 0;
    animation-name: show-header;
    animation-fill-mode: both;
    animation-duration: .5s;
    cursor: default; }
    #main-form #heading-form h1, #rem_id #heading-form h1 {
      text-align: center;
      width: 40.625rem; }
  #main-form input:not([type="submit"]), #rem_id input:not([type="submit"]) {
    margin: 1.25rem;
    margin-bottom: 1.875rem;
    margin-top: 0.625rem;
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid white;
    outline: none;
    padding: 0.9375rem;
    padding-top: 1.6875rem;
    padding-bottom: 0.75rem;
    color: white;
    text-align: center; }
  #main-form input[type="submit"], #rem_id input[type="submit"] {
    text-transform: uppercase;
    padding: 0.625rem 2.1875rem;
    border-radius: 2000px;
    border-style: none;
    outline: none;
    transition: all .5s;
    box-shadow: 0px 0px 10px white; }
    #main-form input[type="submit"]:hover, #rem_id input[type="submit"]:hover {
      transform: translateY(-7px);
      background-color: cyan; }
  #main-form ::placeholder, #rem_id ::placeholder {
    color: grey;
    text-align: center; }
  #main-form button, #rem_id button {
    margin: 0;
    text-transform: uppercase;
    padding: 0.625rem 2.1875rem;
    border-radius: 2000px;
    border-style: none;
    outline: none;
    transition: all .5s;
    box-shadow: 0px 0px 10px white;
    background-color: black;
    color: white; }
    #main-form button:hover, #rem_id button:hover {
      transform: translateY(-7px);
      background-color: cyan; }
  #main-form ::-webkit-calendar-picker-indicator, #rem_id ::-webkit-calendar-picker-indicator {
    filter: invert(1); }

#secondary-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation-name: show-form;
  animation-fill-mode: both;
  animation-duration: .5s;
  transition: all .8s; }
  #secondary-form #secondary-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    margin: 1.25rem 50%;
    margin-top: 1.875rem;
    font-size: 1.25rem;
    border-bottom: 1px solid white;
    padding: 0.625rem 1.875rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px 20px 0 0;
    animation-name: show-header;
    animation-fill-mode: both;
    animation-duration: .5s;
    cursor: default; }
    #secondary-form #secondary-heading h1 {
      width: 40.625rem;
      text-align: center; }
  #secondary-form hr {
    margin: 0;
    width: 100%;
    height: 3px;
    border-style: none;
    background-image: linear-gradient(to right, #00F260, #0575E6);
    box-shadow: 0 0 10px white; }
  #secondary-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 17.5rem;
    animation-name: show-form;
    animation-fill-mode: both;
    animation-duration: .5s;
    transition: all .8s;
    border: 2px solid grey;
    padding: 1.5625rem;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 20px;
    box-shadow: 0 0 10px white; }
    #secondary-form form input:not([type="submit"]) {
      margin: 1.25rem;
      margin-bottom: 1.25rem;
      margin-top: 0.625rem;
      background-color: transparent;
      border-style: none;
      border-bottom: 1px solid white;
      outline: none;
      padding: 0.9375rem;
      padding-top: 1.6875rem;
      padding-bottom: 0.75rem;
      color: white;
      text-align: center; }
    #secondary-form form input[type="submit"] {
      text-transform: uppercase;
      padding: 0.625rem 2.1875rem;
      border-radius: 2000px;
      border-style: none;
      outline: none;
      transition: all .5s;
      box-shadow: 0px 0px 10px white; }
      #secondary-form form input[type="submit"]:hover {
        transform: translateY(-7px);
        background-color: cyan; }
    #secondary-form form ::placeholder {
      color: grey;
      text-align: center; }
    #secondary-form form button {
      margin: 0;
      text-transform: uppercase;
      padding: 0.625rem 2.1875rem;
      border-radius: 2000px;
      border-style: none;
      outline: none;
      transition: all .5s;
      box-shadow: 0px 0px 10px white;
      background-color: black;
      color: white; }
      #secondary-form form button:hover {
        transform: translateY(-7px);
        background-color: cyan; }
